# Application Configuration
APP_ENV=LOCAL
APP_PORT=8000
APP_HOST=127.0.0.1
APP_BASE_URL=http://127.0.0.1:8000
FORCE_HTTPS=No
SHARED_SECRET_KEY=replace_this_with_a_secure_key
APP_SECRET_KEY=replace_this_with_a_secure_key
LOG_FILE=app.log
TOKEN_URL=http://127.0.0.1:8000/token
DB_SERVER=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=rysknode_logicmodel
REDIS_HOST=localhost
REDIS_PORT=6379
SQLALCHEMY_ECHO=false
PYTHONPATH="./:./src"

# Data.gov.in Sync Settings
DATA_GOV_API_KEY=your_api_key_here
DATA_GOV_RESOURCE_ID=4dbe5667-7b6b-41d7-82af-211562424d9a
DATA_GOV_BASE_URL=https://api.data.gov.in/resource
DATA_GOV_RATE_LIMIT_COOLDOWN=120
