# Application Configuration
APP_ENV=LOCAL
APP_PORT=8000
APP_HOST=127.0.0.1
APP_BASE_URL=http://127.0.0.1:8000
FORCE_HTTPS=No
SHARED_SECRET_KEY=replace_this_with_a_secure_key
APP_SECRET_KEY=replace_this_with_a_secure_key
LOG_FILE=app.log
TOKEN_URL=http://127.0.0.1:8000/token
DB_SERVER=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=rysknode_logicmodel
REDIS_HOST=localhost
REDIS_PORT=6379
SQLALCHEMY_ECHO=false
PYTHONPATH="./:./src"
